<!-- Titulo y agregar -->
<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-9">
      <h3 style="color:lightgrey"> Programas existentes: </h3>
    </div>
    <div class="col-2">
      <div class="input-group rounded">
        <input type="search" id="filtro" class="form-control rounded" placeholder="Búsqueda" aria-label="Busqueda"
          aria-describedby="search-addon" />
        <button type="button" class="btn btn-outline-secondary" (click)="filtrar()">🔍︎</button>
      </div>
    </div>
    <div class="col-1">
      <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#exampleModal"
        (click)="formularioCrear()">Agregar</button>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">

    <!-- Lista de programas -->
    <div class="col">
      <div class="row">
        <div class="col-2 mt-2" *ngFor="let c of programas">
          <div class="card text-center bg-dark" style="--bs-bg-opacity: .8;">
            <div class="card-body">
              <h5 class="card-title"><a routerLink="/programas/{{ c.id }}/detalle"><u style="color:lightgrey">{{c.nombre}}</u></a></h5>
              <button type="button" class="btn btn-outline-primary me-2 btn-sm" data-bs-toggle="modal"
                data-bs-target="#detalleModal" (click)="onSelected(c)">Editar</button>
              <button type="button" class="btn btn-outline-danger btn-sm" (click)="deletePrograma(c)">Eliminar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Form 1 -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Crear un nuevo programa</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="programaForm" (ngSubmit)="!programaForm.invalid">
          <!--Nombre-->
          <div class="form-group mx-sm-3 mb-2">
            <label for="nombre">Nombre</label>
            <input novalidate id="nombre" class="form-control" formControlName="nombre"
              placeholder="Nombre del programa" />
            <div class="alert alert-danger alert-dismissible fade show" *ngIf="
              programaForm.get('nombre')!.hasError('required') &&
              programaForm.get('nombre')!.touched">
              Nombre requerido
            </div>
            <div class="alert alert-danger alert-dismissible fade show"
              *ngIf="programaForm.get('nombre')!.hasError('minlength')">
              Nombre muy corto
            </div>
            <div class="alert alert-danger alert-dismissible fade show"
              *ngIf="programaForm.get('nombre')!.hasError('maxlength')">
              Nombre muy largo
            </div>
          </div>
          <!--Tipo-->
          <div class="form-group mx-sm-3 mb-2">
            <label for="tipo">Tipo</label>
            <input novalidate id="tipo" class="form-control" formControlName="tipo" placeholder="Tipo de programa" />
            <div class="alert alert-danger alert-dismissible fade show" *ngIf="
            programaForm.get('tipo')!.hasError('required') &&
            programaForm.get('tipo')!.touched">
              Tipo requerido
            </div>
            <div class="alert alert-danger alert-dismissible fade show"
              *ngIf="programaForm.get('tipo')!.hasError('minlength')">
              El tipo debe ser Pregrado o Posgrado
            </div>
            <div class="alert alert-danger alert-dismissible fade show"
              *ngIf="programaForm.get('tipo')!.hasError('maxlength')">
              El tipo debe ser Pregrado o Posgrado
            </div>
          </div>
          <!--Min gpa-->
          <div class="form-group mx-sm-3 mb-2">
            <label for="min_gpa">PGA mínimo</label>
            <input novalidate id="min_gpa" class="form-control" formControlName="min_gpa"
              placeholder="PGA mínimo" type="number" />
            <div class="alert alert-danger alert-dismissible fade show" *ngIf="
              programaForm.get('min_gpa')!.hasError('required') &&
              programaForm.get('min_gpa')!.touched">
              PGA requerido
            </div>
            <div class="alert alert-danger alert-dismissible fade show"
              *ngIf="programaForm.get('min_gpa')!.hasError('min')">
              El PGA mínimo debe ser un número positivo
            </div>
            <div class="alert alert-danger alert-dismissible fade show"
              *ngIf="programaForm.get('min_gpa')!.hasError('max')">
              El PGA mínimo debe ser menor a 5
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
          (click)="programaForm.reset()">Cancelar</button>
        <button type="submit" class="btn btn-primary" [disabled]="!programaForm.valid"
          (click)="createPrograma(programaForm.value)">Crear</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Form 2 -->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="myModalLabel">Editar regla</h1>
        <button type="button" class="btn-close" data-bs-toggle="modal" data-bs-target="#detalleModal" aria-label="Close"
          (click)="programaForm.reset()"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="programaForm" (ngSubmit)="!programaForm.invalid">
          <!--Nombre-->
          <div class="form-group mx-sm-3 mb-2">
            <label for="nombre">Nombre</label>
            <input novalidate id="nombre" class="form-control" formControlName="nombre"
              placeholder="Nombre de la regla" />
            <div class="alert alert-danger alert-dismissible fade show" *ngIf="
              programaForm.get('nombre')!.hasError('required') &&
              programaForm.get('nombre')!.touched">
              Nombre requerido
            </div>
            <div class="alert alert-danger alert-dismissible fade show"
              *ngIf="programaForm.get('nombre')!.hasError('minlength')">
              Nombre muy corto
            </div>
            <div class="alert alert-danger alert-dismissible fade show"
              *ngIf="programaForm.get('nombre')!.hasError('maxlength')">
              Nombre muy largo
            </div>
          </div>
          <!--Tipo-->
          <div class="form-group mx-sm-3 mb-2">
            <label for="tipo">Tipo</label>
            <input novalidate id="tipo" class="form-control" formControlName="tipo" placeholder="Tipo" />
            <div class="alert alert-danger alert-dismissible fade show" *ngIf="
            programaForm.get('tipo')!.hasError('required') &&
            programaForm.get('tipo')!.touched">
              Tipo requerido
            </div>
            <div class="alert alert-danger alert-dismissible fade show"
              *ngIf="programaForm.get('tipo')!.hasError('minlength')">
              El tipo debe ser Pregrado o Posgrado
            </div>
            <div class="alert alert-danger alert-dismissible fade show"
              *ngIf="programaForm.get('tipo')!.hasError('maxlength')">
              El tipo debe ser Pregrado o Posgrado
            </div>
          </div>
          <!--Min gpa-->
          <div class="form-group mx-sm-3 mb-2">
            <label for="min_gpa">PGA mínimo</label>
            <input novalidate id="min_gpa" class="form-control" formControlName="min_gpa"
              placeholder="PGA mínimo" type="number" />
            <div class="alert alert-danger alert-dismissible fade show" *ngIf="
              programaForm.get('min_gpa')!.hasError('required') &&
              programaForm.get('min_gpa')!.touched">
              PGA requerido
            </div>
            <div class="alert alert-danger alert-dismissible fade show"
              *ngIf="programaForm.get('min_gpa')!.hasError('min')">
              El PGA mínimo debe ser un número positivo
            </div>
            <div class="alert alert-danger alert-dismissible fade show"
              *ngIf="programaForm.get('min_gpa')!.hasError('max')">
              El PGA mínimo debe ser menor a 5
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#detalleModal"
          (click)="programaForm.reset()">Cancelar</button>
        <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#detalleModal"
          [disabled]="!programaForm.valid" (click)="updatePrograma(programaForm.value)">Guardar</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal Form 3 -->
<div class="modal fade bd-example-modal-sm" id="detalleModal" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" *ngIf="selected">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{selectedPrograma.nombre}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <ul>
              <li class="list-group-item"><span style="font-weight:bold">Tipo:</span> {{selectedPrograma.tipo}}</li>
              <hr>
              <li class="list-group-item"><span style="font-weight:bold">PGA mínimo:</span> {{selectedPrograma.min_gpa}}</li>
              <hr>
              <li class="list-group-item"><span style="font-weight:bold">Áreas:</span>
                <p *ngFor="let area of selectedPrograma.areas" style="margin-bottom:4px">{{area.nombre}}</p>
              </li>
              <hr>
              <li class="list-group-item"><span style="font-weight:bold">Requisitos:</span>
                <p *ngFor="let req of selectedPrograma.requisitos" style="margin-bottom:4px">{{req.nombre}}</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal"
          (click)="formularioModificar()">Editar</button>
      </div>
    </div>
  </div>
</div>
