<!-- Titulo y agregar -->
<div class="container-fluid mt-4" style="color:lightgrey">
  <div class="row">
    <div class="col-9">
      <h3> Agregar reglas al área: </h3>
    </div>
    <div class="col-2">
      <div class="input-group rounded">
        <input type="search" id="filtro" class="form-control rounded" placeholder="Búsqueda" aria-label="Busqueda" aria-describedby="search-addon" />
        <button type="button" class="btn btn-outline-secondary" (click)="filtrar()">🔍︎</button>
      </div>
    </div>
    <div class="col-1">
      <button type="button" class="btn btn-outline-success" routerLink="/areas/{{areaDetail.id}}/detalle"
        (click)="addReglasArea()">Guardar</button>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">

    <!-- Lista de reglas -->
    <div class="col">
      <div class="row">
        <div class="col-2 mt-2" *ngFor="let c of reglas">
          <div class="card text-center bg-dark" style="--bs-bg-opacity: .8;">
            <div class="card-body">
              <h5 class="card-title" style="color:lightgrey">{{c.nombre}}</h5>
              <button type="button" class="btn btn-outline-primary" (click)="addRegla(c)">Agregar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
