<!-- NavBar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">PensumConfig</a>
  </div>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="programas">Programas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="areas">Areas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="reglas">Reglas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="examenes">Examenes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="cursos">Cursos</a>
    </ul>
  </div>
</nav>

<!-- RouterContent -->
<router-outlet></router-outlet>

<!-- Footer -->
