<div>
<!-- NavBar -->
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color:rgb(230, 235, 235);">
    <div class="container-fluid ms-1">
      <a class="navbar-brand" routerLink="" (click)="clearPrev()">
        <i class="fa fa-graduation-cap me-1 mt-1" aria-hidden="true" style="font-size:24px;color:rgb(25, 31, 31)"></i>
        PensumConfig</a>
    </div>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto me-2">
        <li class="nav-item">
          <a class="nav-link" routerLink="programas/lista" (click)="clearPrev()">Programas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="areas/lista" (click)="clearPrev()">Áreas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="reglas/lista" (click)="clearPrev()">Reglas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="examenes" (click)="clearPrev()">Exámenes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="cursos" (click)="clearPrev()">Cursos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="requisitos" (click)="clearPrev()">Requisitos</a>
        </li>
        <li class="nav-item" *ngIf="getUsername()===null">
          <a class="nav-link" data-bs-toggle="modal" data-bs-target="#loginModal" (click)="clearPrev()">
            <i class="fa fa-user-circle-o" aria-hidden="true" style="font-size:24px;color:rgb(25, 31, 31)"></i>
          </a>
        </li>
        <li class="nav-item" *ngIf="getUsername()!=null">
          <a class="nav-link" data-bs-toggle="modal" data-bs-target="#loggedModal" (click)="clearPrev()">
            <i class="fa fa-user-circle-o" aria-hidden="true" style="font-size:24px;color:rgb(25, 31, 31)"></i>
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container" id="main">
    <!-- RouterContent -->
    <router-outlet></router-outlet>


  </div>

  <!-- Footer -->
  <footer class="py-2 fixed-bottom" style="background-color:rgb(230, 235, 235);">
    <div class="row">
    <div class="px-5 col-md-10 d-flex align-items-center">
      <span class="mb-3 mb-md-0" style="color:rgb(25, 31, 31) ;">© 2022 PensumConfig <br>Hecho por: Juan Pablo Sarmiento</span>
    </div>
    <div class="px-5 col d-flex align-items-center">
      <a href="https://www.linkedin.com/in/juan-pablo-sarmiento">
      <i class="fa fa-linkedin-square" style="font-size:24px;color:rgb(25, 31, 31)"></i>
      </a>
      <a href="https://github.com/jpsarmiento">
        <i class="fa fa-github ms-2" style="font-size:24px;color:rgb(25, 31, 31)"></i>
      </a>
    </div>
  </div>
  </footer>
</div>

<!-- Login Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginLabel">Inicia sesión</h5>
        <button type="button" id='closeLogin' class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-group mx-sm-3 mb-2">
          <label for="username">Nombre de usuario</label>
          <input novalidate id="username" class="form-control" placeholder="Nombre de usuario"/>
        </div>
        <div class="form-group mx-sm-3 mb-2">
          <label for="password">Contraseña</label>
          <input type="password" novalidate id="password" class="form-control" placeholder="Contraseña"/>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="login()">Iniciar sesión</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal Form 3 -->
<div class="modal fade bd-example-modal-sm" id="loggedModal" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" *ngIf="getUsername()!=null">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sesión iniciada</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <ul>
              <li class="list-group-item"><span style="font-weight:bold">Usuario:</span> {{getUsername()}}</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="cerrarSesion()">Cerrar sesión</button>
      </div>
    </div>
  </div>
</div>

