<!-- Titulo y agregar -->
<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-7">
      <h3> Cursos existentes: </h3>
    </div>
    <div class="col">
      <button type="button" class="btn btn-outline-success" data-bs-toggle="modal"
        data-bs-target="#exampleModal">Agregar</button>
    </div>
  </div>
</div>




<div class="container-fluid">
  <div class="row">

    <!-- Lista de cursos -->
    <div class="col-8">
      <div class="row">
        <div class="col-sm-4 mt-2" *ngFor="let c of cursos">
          <div class="card text-center" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{c.nombre}}</h5>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Código: {{c.sigla}}-{{c.codigo}}</li>
                <li class="list-group-item">Créditos: {{c.creditos}}</li>
              </ul>
              <button type="button" class="btn btn-outline-primary me-2" (click)="onSelected(c)">Ver detalle</button>
              <button type="button" class="btn btn-outline-danger" (click)="deleteCurso(c)">Eliminar</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Detalle del curso -->
    <div class="col-4">
      <div class="row">
        <div *ngIf="selected">
          <h3 class="text-center"> Curso seleccionado:</h3>
          <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">{{selectedCurso.nombre}}</h5>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Código: {{selectedCurso.sigla}}-{{selectedCurso.codigo}}</li>
                <li class="list-group-item">Créditos: {{selectedCurso.creditos}}</li>
                <li class="list-group-item">Tipo E: {{selectedCurso.es_tipo_e}}</li>
                <li class="list-group-item">Tipo Epsilon: {{selectedCurso.es_epsilon}}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
