<div class="container-fluid">
  <p class="h3 p-3">{{ reglaDetail.nombre }}</p>
  <div class="row">
    <div class="col">
      <dl>
        <dt>Cursos</dt>
        <dd>No available information</dd>
        <hr />
        <dt>Semestre de inicio:</dt>
        <dd>{{ reglaDetail.semestre_inicio }}</dd>
        <hr />
        <dt>Semestre de vigencia</dt>
        <dd>{{ reglaDetail.semestre_vigencia }}</dd>
        <hr />
        <dt>Creditos</dt>
        <dd>{{ reglaDetail.creditos }}</dd>
      </dl>
    </div>
  </div>
 </div>
