<div class="container-fluid">
  <p class="h3 p-3">{{ reglaDetail.nombre }}</p>
  <div class="row">
    <div class="col-2">
      <div class="thumb">
        <img class="img-fluid"
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/47/University_of_Los_Andes_logo.svg/1200px-University_of_Los_Andes_logo.svg.png"
          alt="Logo Universidad de los Andes" />
      </div>
    </div>
    <div class="col">
      <dl>
        <div class="row">
          <div class="col-4">
            <dt>Términos</dt>
          </div>
          <div class="col">
            <button type="button" class="btn btn-outline-success btn-sm" routerLink="/reglas/{{reglaDetail.id}}/addterm">Nuevo</button>
          </div>
        </div>

        <div class="row" *ngFor="let termino of terminos">
          <div class="col-4">
          <dd>
            {{getCursosTexto(termino)}}
           </dd>
          </div>
          <div class="col">
            <button type="button" class="btn btn-outline-danger btn-sm" (click)="deleteTermino(termino)">Quitar</button>
          </div>
        </div>




        <hr />
        <dt>Exámenes</dt>
        <dd>No informacion</dd>
        <hr />
        <dt>Semestre de inicio</dt>
        <dd> {{splitNum1(reglaDetail.semestre_inicio)}}-{{splitNum2(reglaDetail.semestre_inicio)}}</dd>
        <hr />
        <dt>Semestre de vigencia</dt>
        <dd>{{splitNum1(reglaDetail.semestre_vigencia)}}-{{splitNum2(reglaDetail.semestre_vigencia)}}</dd>
        <hr />
        <dt>Créditos</dt>
        <dd>{{ reglaDetail.creditos }}</dd>
        <div ngfor></div>
      </dl>
    </div>
  </div>
</div>
