<!-- Titulo y agregar -->
<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-9">
      <h3> Reglas existentes: </h3>
    </div>
    <div class="col-2">
      <div class="input-group rounded">
        <input type="search" id="filtro" class="form-control rounded" placeholder="Búsqueda" aria-label="Busqueda"
          aria-describedby="search-addon" />
        <button type="button" class="btn btn-outline-secondary" (click)="filtrar()">🔍︎</button>
      </div>
    </div>
    <div class="col-1">
      <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#exampleModal"
        (click)="formularioCrear()">Agregar</button>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">

    <!-- Lista de reglas -->
    <div class="col">
      <div class="row">
        <div class="col-2 mt-2" *ngFor="let c of reglas">
          <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title"><a routerLink="/reglas/{{ c.id }}/detalle">{{c.nombre}}</a></h5>
              <button type="button" class="btn btn-outline-primary me-2" data-bs-toggle="modal"
                data-bs-target="#detalleModal" (click)="onSelected(c)">Ver detalle</button>
              <button type="button" class="btn btn-outline-danger" (click)="deleteRegla(c)">Eliminar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Form 1 -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Crear una nueva regla</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="reglaForm" (ngSubmit)="!reglaForm.invalid">
          <!--Nombre-->
          <div class="form-group mx-sm-3 mb-2">
            <label for="nombre">Nombre</label>
            <input novalidate id="nombre" class="form-control" formControlName="nombre"
              placeholder="Nombre de la regla" />
            <div class="alert alert-danger alert-dismissible fade show" *ngIf="
              reglaForm.get('nombre')!.hasError('required') &&
              reglaForm.get('nombre')!.touched">
              Nombre requerido
            </div>
            <div class="alert alert-danger alert-dismissible fade show"
              *ngIf="reglaForm.get('nombre')!.hasError('minlength')">
              Nombre muy corto
            </div>
            <div class="alert alert-danger alert-dismissible fade show"
              *ngIf="reglaForm.get('nombre')!.hasError('maxlength')">
              Nombre muy largo
            </div>
          </div>
          <!--Sem inicio-->
          <div class="form-group mx-sm-3 mb-2">
            <label for="semestre_inicio">Semestre de inicio</label>
            <input novalidate id="semestre_inicio" class="form-control" formControlName="semestre_inicio"
              placeholder="Semestre de inicio" type="number" />
            <div class="alert alert-danger alert-dismissible fade show" *ngIf="
              reglaForm.get('semestre_inicio')!.hasError('required') &&
              reglaForm.get('semestre_inicio')!.touched ">
              Semestre de inicio requerido
            </div>
            <div class="alert alert-danger alert-dismissible fade show"
              *ngIf="reglaForm.get('semestre_inicio')!.hasError('min')">
              El semestre de inicio debe estar entre el 2000-01 y el 2050-02
            </div>
            <div class="alert alert-danger alert-dismissible fade show"
              *ngIf="reglaForm.get('semestre_inicio')!.hasError('max')">
              El semestre de inicio debe estar entre el 2000-01 y el 2050-02
            </div>
          </div>
          <!--Sem vigencia-->
          <div class="form-group mx-sm-3 mb-2">
            <label for="semestre_vigencia">Semestre de vigencia</label>
            <input novalidate id="semestre_vigencia" class="form-control" formControlName="semestre_vigencia"
              placeholder="Semestre de vigencia" type="number" />
            <div class="alert alert-danger alert-dismissible fade show" *ngIf="
              reglaForm.get('semestre_vigencia')!.hasError('required') &&
              reglaForm.get('semestre_vigencia')!.touched ">
              Semestre de vigencia requerido
            </div>
            <div class="alert alert-danger alert-dismissible fade show"
              *ngIf="reglaForm.get('semestre_vigencia')!.hasError('min')">
              El semestre de vigencia debe estar entre el 2000-01 y el 2050-02
            </div>
            <div class="alert alert-danger alert-dismissible fade show"
              *ngIf="reglaForm.get('semestre_vigencia')!.hasError('max')">
              El semestre de vigencia debe estar entre el 2000-01 y el 2050-02
            </div>
          </div>
          <!--Creditos-->
          <div class="form-group mx-sm-3 mb-2">
            <label for="creditos">Créditos</label>
            <input novalidate id="creditos" class="form-control" formControlName="creditos"
              placeholder="Creditos de la regla" type="number" />
            <div class="alert alert-danger alert-dismissible fade show" *ngIf="
              reglaForm.get('creditos')!.hasError('required') &&
              reglaForm.get('creditos')!.touched">
              Créditos requeridos
            </div>
            <div class="alert alert-danger alert-dismissible fade show"
              *ngIf="reglaForm.get('creditos')!.hasError('min')">
              Los créditos deben ser un numero positivo
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
          (click)="reglaForm.reset()">Cancelar</button>
        <button type="submit" class="btn btn-primary" [disabled]="!reglaForm.valid"
          (click)="createRegla(reglaForm.value)">Crear</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Form 2 -->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="myModalLabel">Editar regla</h1>
        <button type="button" class="btn-close" data-bs-toggle="modal" data-bs-target="#detalleModal" aria-label="Close"
          (click)="reglaForm.reset()"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="reglaForm" (ngSubmit)="!reglaForm.invalid">
          <!--Nombre-->
          <div class="form-group mx-sm-3 mb-2">
            <label for="nombre">Nombre</label>
            <input novalidate id="nombre" class="form-control" formControlName="nombre"
              placeholder="Nombre de la regla" />
            <div class="alert alert-danger alert-dismissible fade show" *ngIf="
              reglaForm.get('nombre')!.hasError('required') &&
              reglaForm.get('nombre')!.touched">
              Nombre requerido
            </div>
            <div class="alert alert-danger alert-dismissible fade show"
              *ngIf="reglaForm.get('nombre')!.hasError('minlength')">
              Nombre muy corto
            </div>
            <div class="alert alert-danger alert-dismissible fade show"
              *ngIf="reglaForm.get('nombre')!.hasError('maxlength')">
              Nombre muy largo
            </div>
          </div>
          <!--Sem inicio-->
          <div class="form-group mx-sm-3 mb-2">
            <label for="semestre_inicio">Semestre de inicio</label>
            <input novalidate id="semestre_inicio" class="form-control" formControlName="semestre_inicio"
              placeholder="Semestre de inicio" type="number" />
            <div class="alert alert-danger alert-dismissible fade show" *ngIf="
              reglaForm.get('semestre_inicio')!.hasError('required') &&
              reglaForm.get('semestre_inicio')!.touched ">
              Semestre de inicio requerido
            </div>
            <div class="alert alert-danger alert-dismissible fade show"
              *ngIf="reglaForm.get('semestre_inicio')!.hasError('min')">
              El semestre de inicio debe estar entre el 2000-01 y el 2050-02
            </div>
            <div class="alert alert-danger alert-dismissible fade show"
              *ngIf="reglaForm.get('semestre_vigencia')!.hasError('max')">
              El semestre de inicio debe estar entre el 2000-01 y el 2050-02
            </div>
          </div>
          <!--Sem vigencia-->
          <div class="form-group mx-sm-3 mb-2">
            <label for="semestre_vigencia">Semestre de vigencia</label>
            <input novalidate id="semestre_vigencia" class="form-control" formControlName="semestre_vigencia"
              placeholder="Semestre de vigencia" type="number" />
            <div class="alert alert-danger alert-dismissible fade show" *ngIf="
              reglaForm.get('semestre_vigencia')!.hasError('required') &&
              reglaForm.get('semestre_vigencia')!.touched ">
              Semestre de vigencia requerido
            </div>
            <div class="alert alert-danger alert-dismissible fade show"
              *ngIf="reglaForm.get('semestre_vigencia')!.hasError('min')">
              El semestre de vigencia debe estar entre el 2000-01 y el 2050-02
            </div>
            <div class="alert alert-danger alert-dismissible fade show"
              *ngIf="reglaForm.get('semestre_vigencia')!.hasError('max')">
              El semestre de vigencia debe estar entre el 2000-01 y el 2050-02
            </div>
          </div>
          <!--Creditos-->
          <div class="form-group mx-sm-3 mb-2">
            <label for="creditos">Créditos</label>
            <input novalidate id="creditos" class="form-control" formControlName="creditos"
              placeholder="Creditos de la regla" type="number" />
            <div class="alert alert-danger alert-dismissible fade show" *ngIf="
              reglaForm.get('creditos')!.hasError('required') &&
              reglaForm.get('creditos')!.touched">
              Creditos requeridos
            </div>
            <div class="alert alert-danger alert-dismissible fade show"
              *ngIf="reglaForm.get('creditos')!.hasError('min')">
              Los creditos deben ser un numero positivo
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#detalleModal"
          (click)="reglaForm.reset()">Cancelar</button>
        <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#detalleModal" [disabled]="!reglaForm.valid"
          (click)="updateRegla(reglaForm.value)">Guardar</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal Form 3 -->
<div class="modal fade bd-example-modal-sm" id="detalleModal" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" *ngIf="selected">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{selectedRegla.nombre}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
              <ul class="list-group list-group-flush">
                <li class="list-group-item "> <span style="font-weight:bold">Semestre de inicio:</span>
                  {{splitNum1(selectedRegla.semestre_inicio)}}-{{splitNum2(selectedRegla.semestre_inicio)}}</li>
                <li class="list-group-item"><span style="font-weight:bold">Semestre de vigencia:</span>
                  {{splitNum1(selectedRegla.semestre_vigencia)}}-{{splitNum2(selectedRegla.semestre_vigencia)}}</li>
                  <li class="list-group-item"><span style="font-weight:bold">Créditos:</span> {{selectedRegla.creditos}}</li>
                <li class="list-group-item"><span style="font-weight:bold">Cursos válidos:</span>
                <p *ngFor="let termino of terminos" style="margin-bottom:4px">{{getCursosTexto(termino)}}</p></li>
                <li class="list-group-item"><span style="font-weight:bold">Exámenes:</span>
                <p *ngFor="let examen of selectedRegla.examenes" style="margin-bottom:4px">{{examen.nombre}}</p></li>
              </ul>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal"
          (click)="formularioModificar()">Editar</button>
      </div>
    </div>
  </div>
</div>
