body{
  background-image:url('https://uniandes.edu.co/sites/default/files/microsoftteams-image_7.png');
  background-repeat: repeat;
}

.modal-content{
	background-color: rgb(230, 235, 235);;
}

.modal-title, .modal-body{
  color: black;
}
