<div class="container-fluid my-4 pb-4 ps-4 rounded" style="--bs-bg-opacity: .95; color:black; background-color:rgb(230, 235, 235);" >
  <div class="row">
    <div class="col-10">
      <p class="h3 p-3">Programa: {{ programaDetail.nombre }}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-2">
      <div class="thumb">
        <img class="img-fluid my-3"
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/47/University_of_Los_Andes_logo.svg/1200px-University_of_Los_Andes_logo.svg.png"
          alt="Logo Universidad de los Andes" />
      </div>

      <a type="button" class="btn btn-outline-secondary my-3 mx-1" style="width:180px; height: 32px; padding-top: 2px" (click)="descargar()">Descargar</a>
    </div>
    <div class="col">
      <dl>

        <dt>Tipo:</dt>
        <dd> {{ programaDetail.tipo }}</dd>
        <hr />
        <dt>PGA mínimo:</dt>
        <dd>{{ programaDetail.min_gpa }}</dd>
        <hr />
        <div class="row">
          <div class="col-10">
            <dt>Áreas:</dt>
          </div>
          <div class="col">
            <button type="button" class="btn btn-outline-success btn-sm" style="width:70px; height: 25px; padding-top: 1px; margin-bottom: 8px;" routerLink="/programas/{{programaDetail.id}}/addarea">Asociar</button>
          </div>
        </div>
        <div class="row" *ngFor="let area of areas">
          <div class="col-10">
          <dd>
            <u (click)="navegarArea()" routerLink="/areas/{{area.id}}/detalle">{{area.nombre}} - {{area.creditos}} créditos</u>
            <br>
            <em>
              {{getReglasTexto(area)}}
            </em>
           </dd>
          </div>
          <div class="col">
            <button type="button" style="width:70px; height: 25px; padding-top: 1px; margin-bottom: 8px;" class="btn btn-outline-danger btn-sm" (click)="deleteArea(area)">Quitar</button>
          </div>
        </div>

        <hr />

        <div class="row">
          <div class="col-10">
            <dt>Requisitos:</dt>
          </div>
          <div class="col">
            <button type="button" class="btn btn-outline-success btn-sm" style="width:70px; height: 25px; padding-top: 1px; margin-bottom: 8px;" routerLink="/programas/{{programaDetail.id}}/addrequisito">Asociar</button>
          </div>
        </div>
        <div class="row" *ngFor="let requisito of requisitos">
          <div class="col-10">
          <dd>{{requisito.nombre}}</dd>
          </div>
          <div class="col">
            <button type="button" class="btn btn-outline-danger btn-sm" style="width:70px; height: 25px; padding-top: 1px; margin-bottom: 8px;" (click)="deleteRequisito(requisito)">Quitar</button>
          </div>
        </div>
      </dl>
    </div>
  </div>
</div>


