<div class="container-fluid">
  <p class="h3 p-3">Programa: {{ programaDetail.nombre }}</p>
  <div class="row">
    <div class="col-2">
      <div class="thumb">
        <img class="img-fluid"
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/47/University_of_Los_Andes_logo.svg/1200px-University_of_Los_Andes_logo.svg.png"
          alt="Logo Universidad de los Andes" />
      </div>
    </div>
    <div class="col">
      <dl>

        <dt>Tipo:</dt>
        <dd> {{ programaDetail.tipo }}</dd>
        <hr />
        <dt>GPA mínimo:</dt>
        <dd>{{ programaDetail.min_gpa }}</dd>
        <hr />
        <div class="row">
          <div class="col-4">
            <dt>Áreas:</dt>
          </div>
          <div class="col">
            <button type="button" class="btn btn-outline-success btn-sm" routerLink="/programas/{{programaDetail.id}}/addarea">Nueva</button>
          </div>
        </div>
        <div class="row" *ngFor="let area of areas">
          <div class="col-4">
          <dd routerLink="/areas/{{area.id}}/detalle">
            <u>{{area.nombre}}</u>
           </dd>
          </div>
          <div class="col">
            <button type="button" class="btn btn-outline-danger btn-sm" (click)="deleteArea(area)">Quitar</button>
          </div>
        </div>

        <hr />

        <div class="row">
          <div class="col-4">
            <dt>Requisitos:</dt>
          </div>
          <div class="col">
            <button type="button" class="btn btn-outline-success btn-sm" routerLink="/programas/{{programaDetail.id}}/addrequisito">Nuevo</button>
          </div>
        </div>
        <div class="row" *ngFor="let requisito of requisitos">
          <div class="col-4">
          <dd>
            <u>{{requisito.nombre}}</u>
           </dd>
          </div>
          <div class="col">
            <button type="button" class="btn btn-outline-danger btn-sm" (click)="deleteRequisito(requisito)">Quitar</button>
          </div>
        </div>
      </dl>
    </div>
  </div>
</div>


